spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show-sql: true
        highlight_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://127.0.0.1:3307/debate?serverTimezone=Asia/Seoul
    username: root
    password: "1234"

    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 11000

  output:
    ansi:
      enabled: always


logging.level:
  root: info

  # Database & ORM
  org.hibernate.SQL: debug
  org.hibernate.orm.jdbc.bind: trace  # 파라미터 바인딩 확인용

  # WebSocket & STOMP 디버깅용
  org.springframework.web.socket: debug
  org.springframework.messaging: debug
  org.springframework.web.socket.messaging: debug

server:
  port: 8080

jwt:
  secret:
    key: "yourTestSecretKeyMustBeLongEnoughForHS256Algorithm"
  access-token:
    expire-time: 6000000   # 10분
  refresh-token:
    expire-time: 86400000 # 24시간

swagger-base-url: "http://localhost:8080"

#stomp 연결 환경분리
stomp-connect-url: "/local/ws-stomp"
